.home-header {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: none;
  font-size: 38px;
  letter-spacing: -2px;
  font-weight: 600;
  img{
    margin-bottom: -45px;
  }
}


.link {
  margin-bottom: 20px;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
